.sidebar-container{
    position: fixed;
    top:0;
    left: 0;
    width: 290px;
    background-color: white;
    height: 100vh;
    color:#013880;
    z-index: 999;
    box-shadow: -3px 17px 20px 0px #013880;
}

.sidebar{
    position: absolute;
    margin-top: 5rem;
    width: 100%;
    overflow-y: scroll;
    height: calc(100vh - 5rem);
}

.sidebar::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}
  
   
/* Handle */
.sidebar::-webkit-scrollbar-thumb {
    background: #013880; 
}
  
/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
    background: white; 
}

.hidden-scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidden-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .sidebar-container{
        display:none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .sidebar-container{
        display:none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {
    .sidebar-container{
        display:unset;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .sidebar-container{
        display:unset;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .sidebar-container{
        display:unset;
    }
}