.admin.navbar{
    position:fixed;
    top:0;
    width: 100vw;
    z-index: 1000;
    box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
}

.admin.color-white{
    color:#013880!important;
}

.admin.head-primary{
    background-color: white!important;
}

.admin.btn-hover:hover{
    color:white!important;
    background-color:#013880!important;
}

.admin.btn-navigation-sm{
    display:none;
}

.admin.cover-white{
    position: fixed;
    top:0;
    bottom:0;
    background-color: white!important;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
}

.admin.navigation-sm-buttons{
    list-style: none;
    text-align: center;
    padding:0;
}

.admin.navigation-sm-buttons > li{
    padding:20px;
}

.admin.navigation-sm-buttons > li > p{
    border-bottom: 2px solid #013880;
}

.admin.navigation-sm-buttons > li:first-child{
    text-align: left;
}

.admin.navigation-sm-buttons > li:not(:first-child):hover{
    background-color:#013880;
    color:white;
}

.admin.navigation-sm-cover-hidden{
    display:none
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .admin.btn-navigation{
        display:none;
    }
    .admin.btn-navigation-sm{
        display:unset;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .admin.btn-navigation{
        display:none;
    }

    .admin.btn-navigation-sm{
        display:unset;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {
    .admin.btn-navigation{
        display:unset;
    }
    
    .admin.btn-navigation-sm, .admin.navigation-sm-cover{
        display:none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .admin.btn-navigation{
        display:unset;
    }
    
    .admin.btn-navigation-sm , .admin.navigation-sm-cover{
        display:none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .admin.btn-navigation{
        display:unset;
    }
    
    .admin.btn-navigation-sm, .admin.navigation-sm-cover{
        display:none;
    }
}