.btn__table__action{
    margin-right: 5px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .btn__table__action > span.label{
        display:none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .btn__table__action > span.label{
        display:none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {
    .btn__table__action > span.label{
        display:unset;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .btn__table__action > span.label{
        display:unset;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .btn__table__action > span.label{
        display:unset;
    }
}